@model Disaster_Alleviation_Foundation.Models.AllocationsModel

@{
    ViewData["Title"] = "Monetary Allocation";
}

<h1>Allocation</h1>

<h4>Allocations</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Allocation">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Allocation" class="control-label"></label>
                <input asp-for="Allocation" class="form-control" />
                <span asp-validation-for="Allocation" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoodsCategory" class="control-label"></label>
                <input asp-for="GoodsCategory" class="form-control" />
                <span asp-validation-for="GoodsCategory" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
